body{
    background-image: url("../images/matrix.jpg");
    background-color: gray;
    text-align: center;
    background-size: cover;
    color: #eeeeee;
}

.jumbotron{
    text-align: center;
    background-color: rgb(0, 0, 0);
    opacity: 0.75;
    color: rgb(2, 255, 2);
    border-bottom: groove 3px green;
}

p{
    font-size: 18px;
}

h1{
    font-family: 'Bungee Shade', cursive;
    font-size: 48px;
}

#summ{
    font-size: medium;
}

h2{
    font-size: large;
    font-weight: bold;
}

#main{
    background-color: rgb(0, 0, 0);
    opacity: 0.75;
    height: 350px;
    margin-top: 50px;
    border: 1px solid green;
}

button{
    width: 115px;
    height: 60px;
}

#submitBtn{
    width: 85px;
    height: 35px;
}

#timeLeft{
    font-size: 25px;
    font-family: 'Orbitron', sans-serif;
    color: rgba(54, 214, 86, 0.767);
    font-style: italic;
}

.done{
    font-size: 24px;
    font-style: italic;
}